<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Advanced Creators 機材管理サイト</title>
<meta name="author" content="XIAORING @ 2007 Advanced Creators Web Administrator" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<link rel="index" href="../index.php" />
<link rel="copyright" href="../about/index.php" />
<link rel="help" href="../help_01.php" />
<link rev="made" href="http://advan.dip.jp/" />
<link rel="stylesheet" href="../css/main_master.css" type="text/css" />
<link rel="shortcut icon" href="../img/favicon.ico" />
</head>
<body class="equip">

<div id="container"><!-- 全体 -->

	<div id="header"><!-- ヘッダー -->
		<h1><!-- サイトタイトル --><a href="#"><img src="../img/title_01.png" alt="Advanced Creators 機材管理サイト" /></a></h1>
		<ul id="gNav"><!-- グローバルナビゲーション -->
			<li><a href="#" title="トップページに戻ります。" accesskey="1">トップ</a></li>
			<li><a href="#" title="機材データベースを見ます。" accesskey="2">機材</a></li>
			<li><a href="#" title="イベントスケジュールを見ます。" accesskey="3">イベント</a></li>
			<li><a href="#" title="ミーティングログを見ます。" accesskey="4">ログ</a></li>
			<li><a href="#" title="ノートを見ます。" accesskey="5">ノート</a></li>
			<li><a href="#" title="このサイトの説明を見ます。" accesskey="6">このサイトについて</a></li>
			<li><a href="#" title="ユーザー名やパスワードなどのユーザー情報を、確認したり変更したりします。" accesskey="7">ユーザー管理</a></li>
		</ul>
	<!-- header end --></div>
	
	
	<div id="mainCol"><!-- メインの表示列 -->
		
		<div id="content"><!-- content 内容 -->
		<!-- content end --></div>
		
	<!-- mainCol end --></div>
	
	
	<div id="subCol"><!-- サイド表示列 -->
		
		<dl class="pa">
			<dt>音響</dt>
			<dd>
				<ul>
					<li><a href="#">コンソール</a></li>
					<li><a href="#">エフェクター</a></li>
					<li><a href="#">プレーヤー</a></li>
					<li><a href="#">スピーカー</a></li>
					<li><a href="#">パワーアンプ</a></li>
					<li><a href="#">マイク</a></li>
					<li><a href="#">DI</a></li>
					<li><a href="#">PD</a></li>
					<li><a href="#">ヘッドフォン</a></li>
					<li><a href="#">その他音響</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="lighting">
			<dt>照明</dt>
			<dd>
				<ul>
					<li><a href="#">調光卓</a></li>
					<li><a href="#">ディマー</a></li>
					<li><a href="#">灯体</a></li>
					<li><a href="#">レンズ・電球</a></li>
					<li><a href="#">ハンガー・クランプ</a></li>
					<li><a href="#">バンドア</a></li>
					<li><a href="#">エフェクト</a></li>
					<li><a href="#">ゼラ枠</a></li>
					<li><a href="#">ゼラ</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="cable">
			<dt>ケーブル</dt>
			<dd>
				<ul>
					<li><a href="#">マイクケーブル</a></li>
					<li><a href="#">スピーカーケーブル</a></li>
					<li><a href="#">立ち上げ</a></li>
					<li><a href="#">マルチ</a></li>
					<li><a href="#">楽器用ケーブル</a></li>
					<li><a href="#">電源</a></li>
					<li><a href="#">コネクター</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="stand">
			<dt>スタンド</dt>
			<dd>
				<ul>
					<li><a href="#">マイクスタンド</a></li>
					<li><a href="#">マイクホルダー</a></li>
					<li><a href="#">スピーカースタンド</a></li>
					<li><a href="#">照明スタンド</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="accessory">
			<dt>その他</dt>
			<dd>
				<ul>
					<li><a href="#">音響アクセサリー</a></li>
					<li><a href="#">照明アクセサリー</a></li>
					<li><a href="#">ラック</a></li>
					<li><a href="#">ケース</a></li>
					<li><a href="#">工具</a></li>
					<li><a href="#">文具</a></li>
					<li><a href="#">楽器</a></li>
					<li><a href="#">その他</a></li>
				</ul>
			</dd>
		</dl>
		
	<!-- subCol end --></div>
		
	
	<div id="footer"><!-- フッター -->
		<hr />
		<address>Advanced Creators 機材管理サイト<br />
		Copyright &copy; 2006-2007 <a href="http://sound.jp/advancedcreators/" title="Advanced Creators 公式サイト">Advanced Creators</a>, <a href="http://mkgweb.or.tv/" title="サイト制作者個人サイト &quot;芽我拒グループ　web支店&quot;">XIAORING</a>. All rights reserved.
		</address>
	<!-- footer end --></div>

<!-- container終了 --></div>

</body>
</html>