@charset "utf-8";

/*	****************************************************************
		
		Title:		3. サイト共通スタイルシート
		Site:		Advanced Creators 模擬店2008『はまーの手作りですけど、何か？』
		Version:	1.0.5
		Date:		2008.10.7
		Author:		Advanced Creators <http://advancedcreators.undo.jp/>
		
	****************************************************************/


/* ============================================================
	3.1 要素の再設定
============================================================ */

/* ------------------------------------------------------------
	ハイパーリンク
------------------------------------------------------------ */
/* ハイパーリンク */
a {
	border-color: #f85727;
	color: #f85727;
}

/* 訪問済み */
a:visited {
	border-color: #fe9a45;
	color: #fe9a45;
}

/* マウスオーバー、アクティブ */
a:hover,
a:active {
	border-color: #ffd;
	color: #ffd;
	background-color: #ffd158;
}

/* ------------------------------------------------------------
	見出し
------------------------------------------------------------ */
/* サイトタイトル */
h1 {
	color: #eee;
}

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active {
	border-color: #eee;
	color: #eee;
}

/* ページタイトル */
h2,
h2 a {
	color: #ddd;
}
h2 {
	font-size: 136%;
	margin: 0;
}

/* コンテンツ大見出し */
h3,
h3 a {
	color: #222;
}
h3 {
	/* コメントアウトは元の設定 */
	/* margin-left: -24px; */
	/* margin-right: -24px; */
	/* padding: 0 24px 1px; */
	padding: 0 35px 2px;
	border-bottom: 2px solid #777;
	background: url(../img/ico/panda_stamp.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
	/* Hack for <= IE6.0 */
	/* _background-image: url(../img/ico/panda_stamp_01.gif); */	/* IE6以下はGIFにする */
}

/* コンテンツ小見出し */
h4,
h4 a{
	color: #dd9;
}
h4 {
	margin-left: -16px;
	margin-right: -16px;
	padding: 0 16px;
	background: url(../img/ico/asterisk.png);
	background-repeat: no-repeat;
	background-position: 2px 5px;

	/* Hack for <= IE6.0 */
	/* _background-image: url(../img/ico/asterisk.gif); */	/* IE6以下はGIFにする */
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active,
h6 a:hover, h6 a:active {
	border-color: #fff;
	color: #ff9;
	background-color: #531;
}

/* ------------------------------------------------------------
	強調
------------------------------------------------------------ */
strong {
	color: #ff401a;
	font-size: 107%;
}

/* ------------------------------------------------------------
	リスト
------------------------------------------------------------ */
/* 画像を適用 */
ul li {
	list-style-type: none;
	background: transparent url(../img/ico/bull.png) no-repeat 3px 7px;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 0;
	padding-left: 14px;

	/* Hack for <= IE6.0 */
	/* _background-image: url(../img/ico/bull.gif); */	/* IE6以下はGIFにする */
}

/* 2階層以降 */
ul ul,
ol ul {
	margin: 0.5em 0;
}

ul ul li,
ol ul li {
	list-style-type: none;
	background-image: url(../img/ico/disc.png);

	/* Hack for <= IE6.0 */
	/* _background-image: url(../img/ico/disc.gif); */	/* IE6以下はGIFにする */
}

ul ul ul,
ul ol ul,
ol ul ul,
ol ol ul {
	margin: 0.5em 0;
}

ul ul ul li,
ul ol ul li,
ol ul ul li,
ol ol ul li {
	list-style-type: none;
	background-image: url(../img/ico/circle.png);

	/* Hack for <= IE6.0 */
	/* _background-image: url(../img/ico/circle.gif); */	/* IE6以下はGIFにする */
}

/* ------------------------------------------------------------
	定義リスト
------------------------------------------------------------ */
/* 画像を適用 */
dt {
	list-style-type: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #dd9;
	background: transparent url(../img/ico/disc.png) no-repeat 4px 5px;

	/* Hack for <= IE6.0 */
	/* _background-image: url(../img/ico/disc.gif); */	/* IE6以下はGIFにする */
}

/* ------------------------------------------------------------
	表
------------------------------------------------------------ */
table, td, tr, th {
	color: #eee;
	border-color: #999;
}

th {
	color: #aae;
	background-color: #013;
}

/* ------------------------------------------------------------
	フォーム部品
------------------------------------------------------------ */

/* テキスト入力系に横幅指定 */
input[type="text"],
input[type="password"] {
	width: 10em;
}

textarea {
	width: 20em;
}

/* ------------------------------------------------------------
	水平線
------------------------------------------------------------ */

/* 画像を適用 */
hr {
	border: none;
	background: transparent url(../img/bg/hr_01.png) repeat-x -2px;
}

/* IE(7含む)は画像ではなくdashed */
*+html body hr,
* html body hr {
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #99c;
	background: none;
}


/* ------------------------------------------------------------
	インラインフレーム
------------------------------------------------------------ */
iframe {
	border: none;
}


/* ============================================================
	3.2 サイト共通デザインモジュール
============================================================ */

/* ------------------------------------------------------------
	補足テキスト
------------------------------------------------------------ */
.aux {
	/* color: #999; */
	font-size: 85%;
}

/* ------------------------------------------------------------
	戻るナビゲーション
------------------------------------------------------------ */
.navBack {
	margin-top: -0.5em;
	margin-bottom: 0.5em;
	text-align: right;
}
.navBack li {
	display: inline;
	background: url(../img/ico/left.png) no-repeat 2px center;

	/* Hack for <= IE6.0 */
	/* _background-image: url(../img/ico/left.gif); */	/* IE6以下はGIFにする */
}

/* ------------------------------------------------------------
	補足ナビゲーション
------------------------------------------------------------ */
.navAux {
	margin-top: -0.5em;
	margin-bottom: 0.5em;
	text-align: right;
}
.navAux li {
	display: inline;
	background-position: 2px center;
}

/* ------------------------------------------------------------
	パンくずリスト
------------------------------------------------------------ */
ol.topicPath {
	margin: 0.5em 10px;
	padding: 0;
}

ol.topicPath li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

/* >を追加 */
ol.topicPath li+li {
	background: url(../img/ico/right.png) no-repeat 2px center;
	margin-left: 0;
	padding-left: 15px;

	/* Hack for <= IE6.0 */
	/* _background-image: url(../img/ico/right.gif); */	/* IE6以下はGIFにする */
}

/* ------------------------------------------------------------
	dlの横並びリストスタイル
------------------------------------------------------------ */
dl.list,
dl.list dt,
dl.list dd,
dl.listLong,
dl.listLong dt,
dl.listLong dd {
	border-width: 0;
	border-style: dotted;
	border-color: #999;
}

dl.list dt,
dl.listLong dt {
	width: 6em;
	float: left;
	clear: left;
	margin: 0;
	padding: 5px 0.5em 0px 0.5em;
	background: none;
}
	
dl.list dd,
dl.listLong dd {
	margin: 0;
	padding: 5px 0.5em 0px 7.5em;
	border-width: 0 0 1px 0;
}

/* clear fix */
dl.list,
dl.listLong {
	zoom: 1;/*for IE 5.5-7*/
}
dl.list:after,
dl.listLong:after {/*for modern browser*/
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}

/* .listLong*/
dl.listLong dt {
	width: 10em;
}

dl.listLong dd {
	padding-left: 11.5em;
}

/* ------------------------------------------------------------
	フロートのクリア
------------------------------------------------------------ */
.clear {
	clear: both;
	width: 0;
	height: 0;
	visibility: hidden;
	margin: 0;
	padding: 0;
}

/* ------------------------------------------------------------
	非表示ナビゲーション
------------------------------------------------------------ */
.hidden {
	display: none;
	width: 0;
	height: 0;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

/* ------------------------------------------------------------
	コンテンツ内・画像表示用クラス
------------------------------------------------------------ */
.img {
	max-width: 95%;
	overflow: auto;
	/* \*//*/
	overflow: visible;
	/**/
}
.img a,
.img a:visited,
.img a:hover,
.img a:active {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	text-decoration: none;
}

/* IE6以下はdiv.imgに横幅指定*/
* html div.img {
	width: 95%;
}

