@charset "utf-8";

/*	****************************************************************
		
		Title:		5. レイアウトスタイルシート　1カラム
		Site:		Advanced Creators 模擬店2008『はまーの手作りですけど、何か？』
		Version:	1.0.0
		Date:		2008.7.17
		Author:		Advanced Creators <http://advancedcreators.undo.jp/>
		
	****************************************************************/


/* ============================================================
	5.1 メインの列
============================================================ */
div#mainCol {
	display: block;
	float: none;
	width: auto;
}


/* ============================================================
	5.2 サブの列
============================================================ */
div#subCol {
	display: block;
	float: none;
	width: auto;
}

/* clearfix */
div#subCol{
	zoom: 1;/*for IE 5.5-7*/
}
div#subCol:after{/*for modern browser*/
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}


/* ============================================================
	5.3 フッター
============================================================ */
div#footer {
	clear: both;
}

/* ============================================================
	5.4 ページ終端
============================================================ */
#endOfPage,
#endOfPage * {
	clear: both;
	margin: 0;
	padding: 0;
}

