

* {
	margin: 0;
	padding: 0;
}

body {
	font-size:13px;
	font-family: "メイリオ", "ＭＳ ゴシック", "Osaka－等幅";
	line-height:145%;
	color: #FDFFEE;
	background-color: #000000;
	border-bottom-color: #000000;
	background-image: url(back.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

a {
	color: #FFBD59;
	text-decoration: underline;
}
a:hover {
	color: #FFFF66;
	text-decoration: none;
}

img {
	border:none;
}

li {
	list-style-type:none;
}

br.clear {
	clear: both;
	font: 0px/0px sans-serif ;
}

input,textarea,select {
	font-size: 10px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
}

/*
レイアウト
-------------------------------------------------*/

#base {
	width:800px;
	background-color: #111111;
	-moz-opacity :0.85;
	opacity :0.90;
	filter : alpha(opacity=90);
	border: 2px solid #000000;
	border-top-width: 2px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #111111;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;

}

#wrap {
	width:800px;
	background-color: #333333;
}

#contents {
	width: 100%;
	}
	
#leftside {
	width:160px;
	float:left;
}

#rightside {
	width:20px;
	float:right;
}

#main {
	margin-top: -3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 160px;
	padding: 2px;
	background-color: #111111;
}

#footer {
	clear:both;
	width:100%;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	margin-top: 10px;
	background-color: #222222;
}

/* 
ヘッダー
------------------------------------- */
#header {
	background-image: url(top.png);
	background-repeat: no-repeat;
	background-position: right;
	height: 130px;
	padding-top: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

#header h1 {
	font-size: 18px;
}

#header h1 a {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

#header h1 a:hover {
	color: #FCF9AC;
}

.description {
	font-size: 10px;
	color: #FFF7A4;
	padding-top: 5px;
}

/* 
サイド
------------------------------------- */
#side a {
	color:#FFBD59;
	text-decoration:none;
}

#side a:hover {
	color:#FFFF66;
	text-decoration:none;
	background-color: #222222;
}

dl#side {
	background-color: #333333;
	padding-bottom:15px;
	color: #FFFFFF;
	font-size:10px;
}


dl#side dt {
	margin-top: 0px;
	background-color: #222222;
	padding: 3px;
	margin-bottom: 3px;
	background-image: url(http://mytrend.img.jugem.jp/20070823_29500.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-indent: 17px;
}

dl#side dd {
	width:140px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 15px;
	margin-left: 10px;
}

dl#side li {
	margin-bottom:5px;
}

dl#side dd.hover {
	width:150px;
	margin:0px 0px 15px 0px;
}

dl#side dd.hover li {	
	background:none;
	padding-left:0px;
}

dl#side dd.hover li a {
	display:block;
	width:160px;
	text-indent:18px;
	background-image: url(http://mytrend.img.jugem.jp/20070823_29505.gif);
	background-repeat: no-repeat;
	background-position: 7px center;
}

dl#side dd.hover li a:hover {
	background-color: #222222;
	background-image: url(http://mytrend.img.jugem.jp/20070825_32977.gif);
	background-repeat: no-repeat;
	background-position: 9px center;
}

/* 
フッター
------------------------------------- */

address {
	font-style:normal;
	margin-top:5px;
}


/* 
メイン
------------------------------------- */
 
dl#e_area {
	border:1px solid #000000;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #222222;
}

dl#e_area dt {
	padding:15px 15px 5px 15px; 
}

dl#e_area dd {
	margin:0px 15px 0px 15px;
	padding-bottom:40px;
}


dl#e_area .e_title {
	font-size:32px;
	font-weight:bolder;
	margin-top:10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #555555;	
	color: #FF9900;
}

dl#e_area .e_title2 {
	font-size:26px;
	font-weight:bolder;
	margin-top:20px;
	color: #FDFFEE;
}

.e_top {
	font-size:10px;
	text-align:right;
	margin-bottom:10px;
	color: #FF9900;
}



.e_body {
	margin: 10px 0;
	line-height:135%;
}

.e_body2 {
	margin: 10px 0;
	color:#ff0000;
	line-height:135%;
}

#e_body2 {
	margin: 10px 10px 10px 10px;
	vertical-align: middle; 

}

.e_more {
	margin-bottom:20px;
}

.entry_state {
	font-size: 10px;
	}

blockquote {
	font-size: 10px;
	color: #808080;
	border-left:2px #CCC dotted;

	margin: 10px 0;
	padding-left: 10px;
}

/* 記事内の画像 */
.pict {
	border: 1px #CCC dotted;
	padding: 3px;
	}
	
.pict2 {
	padding: 3px;
	text-align: top;
	}

.pict3{
	border:1px;
	}

.e_navi {
	margin-bottom: 20px;
	text-align:center;
}

.e_navi span {
	margin:0px 15px; 
}

/*
ページナビ
------------------------------------- */
dl#e_area dd.p_navi {
	margin:0px 0px 0px 0px;
	padding-bottom:15px;
	text-align:center;
}

dl#e_area dd.p_navi span {
	margin:0px 15px;
}

/*
コメント・トラックバック
------------------------------------- */

#e_area dt .tb_head {
	font-weight: bolder;
	margin-top:10px;
	padding-bottom:5px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #FF6600;
}

dl#e_area dd.tb_box {
	margin:10px 15px;
	border:1px solid #666666;
	padding:5px;
}

dd.tb_box .tb_state {
	font-size: 10px;
	padding:5px;
}

dd.tb_box .tb_body {
	padding:5px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #FF9900;
}

dd.tb_box .tb_title {
	padding:0px 5px 5px 5px;
	font-weight:bolder;
}


dl#e_area dd.com_form {
	margin:15px;
}

dd.com_form .form {
	width:300px;
}

dd.com_form th {
	font-weight:normal;
	text-align:left;
	padding-right:10px;
}

/*
プロフィール
------------------------------------- */
#e_area dt h3 {
	font-size:12px;
	margin-bottom:10px;
}
#contents a img {
	border: 2px solid #000000;
}
#contents a:hover img {
	border: 2px solid #FF9900;
}

#contents a img2 {
	border:none
}
