@charset "utf-8";

/*	****************************************************************
		
		Title:		1. メインページマスタースタイルシート
		Site:		Advanced Creators
		Version:	1.0.2
		Date:		2007.5.3
		Author:		Advanced Creators <http://sound.jp/advancedcreators/>
		
	****************************************************************/


/* ============================================================
	1.1 スタイルシートの読み込み
============================================================ */

/* 各スタイルシート */
@import url("base.css");		/* 2. 基本スタイルシート */
@import url("common.css");	/* 3. サイト共通スタイルシート */
@import url("theme.css");		/* 4. サイトテーマスタイルシート */
@import url("layout.css");	/* 5. レイアウトスタイルシート　2カラム右メイン両寄せ */
@import url("page.css");		/* 6. ページスタイルシート */

/* スタイ