@charset "utf-8";

/*	****************************************************************
		
		Title:		5. レイアウトスタイルシート　2カラム左メイン
		Site:		MUSIC FES@TUT
		Version:	1.0.4
		Date:		2007.11.15
		Author:		MUSIC FES@TUT <http://mfes-tut.undo.jp/>
		
	****************************************************************/


/* ============================================================
	5.1 メインの列
============================================================ */
div#mainCol {
	display: inline;
	float: left;
	width: 450px;
}


/* ============================================================
	5.2 サブの列
============================================================ */
div#subCol {
	display: inline;
	float: right;
	width: 220px;
}

/* clearfix */
div#subCol{
	zoom: 1;/*for IE 5.5-7*/
}
div#subCol:after{/*for modern browser*/
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}


/* ============================================================
	5.3 フッター
============================================================ */
div#footer {
	clear: both;
}

/* ============================================================
	5.4 ページ終端
============================================================ */
#endOfPage,
#endOfPage * {
	clear: both;
	margin: 0;
	padding: 0;
}

