<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<meta http-equiv="Content-Style-Type" content="text/css">
<title></title>
<link rel="stylesheet" href="../css/main_1.css" type="text/css">
<style type="text/css">
<!--


-->
</style>
</head>
<body>

<!-- window •¶•£•Û•…•¶¡¥¡ˆ-->
<div id="window">

	<!-- parent «Ú£·≈Ù…Â-->
	<div id="parent">

		<!-- header •ÿ•√•¿°º -->
		<div id="header">
			<!-- title_img •ø•§•»•Î≤ÂΩ¸ -->
			<div id="title_img">
				<img src="img/title_01_01.jpg" width="750" height="120">
			</div>
		</div>


		<!-- menu •·•À•Â°º -->
		<div id="menu">
			<span class="menu_btn"><a href="#">•»•√•◊</a></span><span class="menu_btn"><a href="#">•§•Ÿ•Û•»•Í•π•»</a></span><span class="menu_btn"><span>gÕ—µ°∫°ÄÔÍ°¶Íﬁ/span></span><span class="menu_btn"><a href="#">•Ì•∞•¢•¶•»</a></span>
		</div>


		<!-- main-flame •´•∆•¥•Í…Ωé¶∞ÂÄ≈·°„C•Û…Ωé¶∞ÂÄÀ·∑„C•¢•¶•»Õ—•∆°º•÷•Î -->
		<table id="main-flame">
			<tbody>
				<tr>
						<!-- left •´•∆•¥•Í…Ωé¶∞Â-->
					<td>
						<div id="left">
							<div class="cate">
								<table>
									<tbody>
										<tr>
											<th>cate-head</th>
										</tr>
										<tr>
											<td>
												<ul>
													<li>categoly
													<li>categoly
													<li>categoly
            											</ul>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
							<div class="cate">
								<table border="0">
									<tbody>
										<tr>
											<th>cate-head</th>
										</tr>
										<tr>
											<td>
												<ul>
													<li>categoly
													<li>categoly
													<li>categoly
            											</ul>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
							<div class="cate">
								<table border="0">
									<tbody>
										<tr>
											<th>cate-head</th>
										</tr>
										<tr>
											<td>
												<ul>
													<li>categoly
													<li>categoly
													<li>categoly
            											</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</td>


					<!-- main •·•§•Û…Ωé¶∞Â-->
					<td>
						<div id="main">

							<!-- status •π•∆°º•ø•π…Ωé¶∞Â-->
							<div id="status">
								status
							</div>


							<!-- body À‹…Î-->
							<div id="body">

								body
								<div class="h1">∑Â/o£Î"P</div>
								<div>
									√ °¶br>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ï¨								</div>
								<div class="h2">∑Â/o£Î"Q</div>
								<div>
									√ °¶br>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ï¨								</div>
								<div class="h3">∑Â/o£Î"R</div>
								<div>
									√ °¶br>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ï¨								</div>
								<div><a href="#">•Í•Û•Ø</a></div>

								<div class="p1">
									<div class="h1">√ Õ‚P</div>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									<form name="form1">
										<table>
											<tbody>
												<tr>
													<td><input type="text" name="text1" size="30" class="tbox1"></td>
												</tr>
												<tr>
													<td><textarea name="text2" cols="50" rows="10" wrap="soft" class="tbox1"></textarea></td>
												</tr>
											</tbody>
										</table>
										<div style="width:100%; text-align:center;">
											<hr style="margin-top:10px; margin-bottom:10px;">
											<input type="submit" name="submit1" value="¡˜øÆ" class="btn1">°°<input type="reset" name="reset1" value="•Í•ª•√•»" class="btn1">
										</div>
									</form>
									<div class="tarea1">
										√ °¶br>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									</div>
								</div>
								
								<br>

								<div class="p2">
									<div class="h2">√ Õ‚Q</div>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									<form name="form2">
										<table>
											<tbody>
												<tr>
													<td><input type="text" name="text1" size="30" class="tbox2"></td>
												</tr>
												<tr>
													<td><textarea name="text2" cols="50" rows="10" wrap="soft" class="tbox2"></textarea></td>
												</tr>
											</tbody>
										</table>
										<div style="width:100%; text-align:center;">
											<hr style="margin-top:10px; margin-bottom:10px;">
											<input type="submit" name="submit1" value="¡˜øÆ" class="btn2">°°<input type="reset" name="reset1" value="•Í•ª•√•»" class="btn2">
										</div>
									</form>
									<div class="tarea2">
										√ °¶br>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									</div>
								</div>
								
								<br>

								<div class="p3">
									<div class="h3">√ Õ‚R</div>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									<form name="form3">
										<table>
											<tbody>
												<tr>
													<td><input type="text" name="text1" size="30" class="tbox3"></td>
												</tr>
												<tr>
													<td><textarea name="text2" cols="50" rows="10" wrap="soft" class="tbox3"></textarea></td>
												</tr>
											</tbody>
										</table>
										<div style="width:100%; text-align:center;">
											<hr style="margin-top:10px; margin-bottom:10px;">
											<input type="submit" name="submit1" value="¡˜øÆ" class="btn3">°°<input type="reset" name="reset1" value="•Í•ª•√•»" class="btn3">
										</div>
									</form>
									<div class="tarea3">
										√ °¶br>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									</div>
								</div>
								
								<br>

								<div class="p4">
									<div class="h4">√ Õ‚S</div>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									<form name="form4">
										<table>
											<tbody>
												<tr>
													<td><input type="text" name="text1" size="30" class="tbox4"></td>
												</tr>
												<tr>
													<td><textarea name="text2" cols="50" rows="10" wrap="soft" class="tbox4"></textarea></td>
												</tr>
											</tbody>
										</table>
										<div style="width:100%; text-align:center;">
											<hr style="margin-top:10px; margin-bottom:10px;">
											<input type="submit" name="submit1" value="¡˜øÆ" class="btn4">°°<input type="reset" name="reset1" value="•Í•ª•√•»" class="btn4">
										</div>
									</form>
									<div class="tarea4">
										√ °¶br>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
										£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ïﬁbr>
									</div>
								</div>
								
								<div>
									√ °¶br>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ï¨								</div>
								<table class="t1">
									<tbody>
										<tr>
											<th>∑Â/o£Î"P</th><th>∑Â/o£Î"Q</th><th>∑Â/o£Î"R</th>
										</tr>
										<tr>
											<td>•ª•Î£±°›£±</td><td>•ª•Î£±°›£≤</td><td>•ª•Î£±°›£≥</td>
										</tr>
										<tr>
											<td>•ª•Î£≤°›£±</td><td>•ª•Î£≤°›£≤</td><td>•ª•Î£≤°›£≥</td>
										</tr>
										<tr>
											<td>•ª•Î£≤°›£±</td><td>•ª•Î£≤°›£≤</td><td>•ª•Î£≤°›£≥</td>
										</tr>
									</tbody>
								</table>
								<div>
									√ °¶br>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ï¨								</div>
								<ul>
									<li>«˙µÊ£ÙÄ°¶≥„X•»£±
									<li>«˙µÊ£ÙÄ°¶≥„X•»£≤
									<li>«˙µÊ£ÙÄ°¶≥„X•»£≥
								</ul>
								<div>
									£±£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶∫ﬁbr>
									√ Õ‚P£≤£≥<em>µÁ2±·t•©•Û•»</em>£¥£µ£∂<span class="x-large">≈Ò1°¶t•©•Û•»</span>£∑£∏£π<span class="large">¬Â#t•©•Û•»</span>£∞£ıÄ‘ﬁspan class="normal">√Ê•’•©•Û•»</span>§¢£‚Ä°¶span class="small">ΩÊ°’•©•Û•»</span>£‰Ä·‡°¶span class="x-small">µı/°¶t•©•Û•»</span>§ÂÄ°¶⁄ﬁspan class="gray">•∞•Ï°º•’•©•Û•»</span>°¶Ä°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ï”234567890qwertyuiopasdfghjklzxcvbnm£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡∏¨								</div>
								<div class="align-r">
									±¶¥Î"°¶iÕ„t•©•Û•»
								</div>
								<div>
									√ Õ‚P£≤£≥£¥£µ£∂£∑£∏£π£∞£ıÄ°¶†£‚Ä•‡ß‡·‡„‡Â‡°¶°¶’‡°¶√‡°‡°¶°¶°¶«‡°¶°¶°¶°¶≈‡°¶°¶°¶°¶€‡À‡Á‡È‡°¶›‡¡‡°¶°¶°¶°¶°¶ﬂ‡°¶°¶°¶Ï¨								</div>


							</div>


							<!-- footer •’•√•ø°º -->
							<div id="footer">
								<hr>
								Copyright &copy; 2006 Advanced Creators, XIAORING All rights reserved.
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>