@charset "utf-8";

/*	****************************************************************
		
		Title:		5. レイアウトスタイルシート　2カラム左メイン両寄せ
		Site:		Advanced Creators
		Version:	1.0.3
		Date:		2007.10.29
		Author:		Advanced Creators <http://sound.jp/advancedcreators/>
		
	****************************************************************/


/* ============================================================
	5.3 フッター
============================================================ */
div#footer {
	clear: both;
}

/* ============================================================
	5.4 ページ終端
============================================================ */
#end-of-page,
#end-of-page * {
	clear: both;
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

