@charset "utf-8";

/*	****************************************************************
		
		Title:		1. ポップアップウィンドウマスタースタイルシート
		Site:		Advanced Creators 機材管理サイト
		Version:	1.0.0
		Date:		2007.12.22
		Author:		XIAORING <http://mkgweb.undo.jp/>
		
	****************************************************************/


/* ============================================================
	1.1 スタイルシートの読み込み
============================================================ */

/* 各スタイルシート */
@import url("base.css");		/* 2. 基本スタイルシート */
@import url("common.css");	/* 3. サイト共通スタイルシート */
/*@import url("theme.css");*/		/* 4. サイトテーマスタイルシート */
@import url("layout_1col.css");	/* 5. レイアウトスタイルシート　2カラム右メイン両寄せ */
@import url("page.css");		/* 6. ページスタイルシート */

/* スタ