@charset "utf-8";

/*	****************************************************************
		
		Title:		5. レイアウトスタイルシート　1カラム
		Site:		Advanced Creators Members Site
		Version:	1.0.1
		Date:		2007.5.7
		Author:		XIAORING <http://mkgweb.undo.jp/>
		
	****************************************************************/


/* ============================================================
	5.1 メインの列
============================================================ */
div#mainCol {
}


/* ============================================================
	5.2 フッター
============================================================ */
div#footer {
	clear: both;
}

/* ============================================================
	5.3 ページ終端
============================================================ */
#endOfPage,
#endOfPage * {
	clear: both;
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

