@charset "utf-8";

/*	****************************************************************
		
		Title:		5. レイアウトスタイルシート　1カラム
		Site:		Advanced Creators 機材管理サイト
		Version:	1.0.0
		Date:		2007.5.7
		Author:		XIAORING <http://mkgweb.undo.jp/>
		
	****************************************************************/


/* ============================================================
	5.1 メインの列
============================================================ */
div#mainCol {
}


/* ============================================================
	5.2 サブの列
============================================================ */
div#subCol {
}

/* clearfix */
div#subCol{
	zoom: 1;/*for IE 5.5-7*/
}
div#subCol:after{/*for modern browser*/
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}


/* ============================================================
	5.3 フッター
============================================================ */
div#footer {
	clear: both;
}

/* ============================================================
	5.4 ページ終端
============================================================ */
#endOfPage,
#endOfPage * {
	clear: both;
	margin: 0;
	padding: 0;
}

